*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F5F8FA;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

/* Helpers */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.row {
  display: flex;
  align-items: stretch;
}

.col-1 {width: 8.3%}

.col-3 {width: 25%;}

.col-4 {width: 33%;}

.col-6 {width: 50%;}

.col6-m12 {width: 100%;}

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}

.col {
  display: flex;
  flex-flow: column;
}

.flex-is-center {justify-content: center;}

.flex-is-right {justify-content: flex-end}

.img-small-circle {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.medium-none {display: none}

.mobile-none {display: none}

/* Helpers end --- */

/* NavBar */

.nav {background: #fff;}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: .2em 0;
}

.nav-link {
  padding: 0 1em;
  font-size: .75em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.nav-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  border-bottom: 0 solid #0084B4;
}

.nav-selector:hover {border-bottom: .3em solid #0084B4;}

.nav-selector-fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: .3em solid #0084B4;
}

.nav-link span {
  margin-left: .3em;
}

.profile-card,
.trends,
.tweets {
  background-color: #fff;
  border-radius: .5em;
  border: 1px solid #e6ecf0;
  margin-bottom: .5em;
}

/* ProfileCard */

.profile-card {
  background: linear-gradient(0deg, #fff 60%, #1DA1F2 30%);
  text-align: center;
  padding: 4em .5em .5em .5em;
}

.user-wrapper {
  justify-content: flex-start;
  align-items: flex-end;
}

.user-avatar {
  width: 100%;
  border-radius: 10%;
}

.user-handle {
  text-align: left;
  margin-left: .5em;
}

.user-handle h4 {
  color: #9e9e9e;
  font-size: .8em;
}

.stats {
  text-transform: uppercase;
  cursor: pointer;
  color: #b2b2b2;
  padding: .5em;
  transition: all .2s ease-in;
}

.stats:hover {color: #1DA1F2;}

.stats p {font-size: .75em;}

.blue {
  color: #1DA1F2;
}

/* Trend */

.trends {
  color: #66757f;
  padding: 1em;
}

.trends-title {
  display: block;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.trend {
  color: #0084B4;
  margin-bottom: 1em;
  font-size: .8em;
}

.trend-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 900;
}

.trend-link:hover {
  text-decoration: underline;
  color: #1DA1F2;
}

.trend-vol {
  margin-top: .2em;
  display: block;
  color: #66757f;
}

/* Tweets */

.tweet {
	padding: 1em;
	border-bottom: 1px solid #e6ecf0;
	transition: all .1s ease;
}

.tweet:hover {background-color: #F5F8FA;}

.tweet-content {margin-left: 1em;}

.tweet-username {margin-right: .5em;}

.tweet-handler,
.tweet-age {color: #9e9e9e;}

.tweet-text {
  margin-top: 0;
  font-size: .85em;
}

.tweet-media {width: 8em;}

@media (min-width: 957px) {
  .medium-none {
    display: initial;
  }

  .col6-m12 {
    width: 50%;
    margin: 0 .7em;
  }
}

@media (min-width: 557px) {
  .mobile-none {display: initial;}
}